<div class="container " *ngIf="parent">
    <div class="left-container">
        <div class="left-side-1">

            <full-calendar [options]="calendarOptions"></full-calendar>

        </div>
        <div class="left-side-2">
            <h3>Knowledge Center</h3>
            <div class="knowledge-content">
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content">
            <div *ngFor="let group of grpsHavingPosts">
                <h3>{{ group.groupName }}</h3>
                <div *ngFor="let post of group.groupPosts" class="post">
                    <p>{{ post.postContent }}</p>

                    <div class="post-meta">
                        <span class="post-author">- {{groupsInWhichUserIsAMember.userProfile.parentName}}</span>
                        <span class="post-date">{{ post.postAddedDate | date}} {{ post.postAddedDate | date: 'shortTime'
                            }}</span>
                    </div>
                    <div class="replies">
                        <div class="myReply">
                            <h6>Replays
                                
                            </h6>
                            <button class="replyBtn" (click)="onReplyBtn()">Reply</button>
                        </div>
                        <div *ngFor="let reply of post.postReplies" class="reply">
                            <p>{{ reply.replyContent }}</p>
                            <p>Replied By - {{ reply.repliedByUser }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right-container">
        <div class="right-side-1">
            <div class="group-content">
                <h3>Groups</h3>
                <button class="btn btnCSS add-group-btn addBtn" (click)="addANewGroup()">+ </button>
            </div>
            <div class="group-list">
                <div *ngFor="let group of groupsAvailable" class="group-item">
                    <div class="group-content">
                        <h4 class="group-name">{{ group.groupName }}</h4>
                        <!-- <button class="btn btnCSS"  [ngClass]="{'btn-success': group.isJoined}"
                        [disabled]="group.isJoined" (click)="onGroupJoin(group)">  
                        {{ group.groupId ? 'Joined' : 'Join' }}</button> -->
                        <button *ngIf="isUserMember(group)" class="btn btn-warning"
                        (click)="addAPostToGroup()" >Post</button>
                        <button *ngIf="isUserMember(group)" class="btn btn-success"
                            (click)="openADialog()" >Joined</button>
                        <button *ngIf="!isUserMember(group)" class="btn btn-warning"
                            (click)="joinGroup(group.groupId)">Join</button>
                    </div>
                    <p>{{ group.groupDescription }}</p>
                </div>
            </div>
        </div>
        <div class="right-side-2">
            <div class="group-content">
                <h3>Events</h3>
                <button class="btn btnCSS add-group-btn addBtn" (click)="addANewEvent()">+ </button>
            </div>
            <div class="group-list">
                <div *ngFor="let event of events" class="group-item">
                    <div class="group-content">
                        <h4 class="group-name">{{ event.name }}</h4>
                        <button class="btn btnCSS" (click)="onEventAttending(event)"
                            [ngClass]="{'btn-success':event.isInterested }" [disabled]="event.isInterested">
                            {{ event.isInterested ? 'I Am Attending' : 'Are You Attending?' }}</button>
                    </div>
                    <p>{{ event.host }}</p>
                </div>
            </div>

        </div>
    </div>
</div>



<router-outlet></router-outlet>